<form [formGroup]="form" ng-submit="login()">
  <div class="form-group">
    <label for="oldPassword"> Old Password </label>
    <input formControlName="oldPassword" class="form-control" name="oldPassword" type="password">
    <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">
        Old Password is required.
      </div>
      <div *ngIf="oldPassword.errors.shouldBeCorrectOldPassword">
        Incorrect old password.
      </div>
    </div>
    <div *ngIf="form.pending" class="alert alert-success">
        Checking old password ... 
    </div>
  </div>
  <div class="form-group">
    <label for="newPassword"> New Password </label>
    <input formControlName="newPassword" class="form-control" name="newPassword" type="password">
    <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
      <div *ngIf="newPassword.errors.required">
        New password is required.
      </div>
      <div *ngIf="newPassword.errors.minlength">
        New password must be at least {{ newPassword.errors.minlength.requiredLength }} characters.
      </div>
    </div>
    <div class="form-group">
      <label for="passwordConfirm"> Confirm New Password </label>
      <input formControlName="passwordConfirm" class="form-control" name="passwordConfirm" type="password">
      <div *ngIf="passwordConfirm.touched && passwordConfirm.invalid" class="alert alert-danger">
          <div *ngIf="passwordConfirm.errors.required">
              Confirm password is required.
          </div>
      </div>
      <!-- this is broken: form.invalid && form.errors.passwordsShouldMatch && passwordConfirm.valid -->
      <div #ngIf="" class="alert alert-danger">
          Passwords don't match check is broken. 
      </div>
    </div>
    <p> {{ form.value | json }} </p>
    <button [disabled]="form.invalid" class="btn btn-primary"> Update Password </button>
  </div>
</form>